<div class="header">
  <div class="logo">
    <img class="img-header" src="/assets/logo.png" alt="logo" />
  </div>
  <h1>EASY TABLE</h1>
  <div class="menu">
    <div class="menu-item">
      <a (click)="onHome()" type="button">Accueil</a>
    </div>
    <div class="menu-item">
      <a (click)="onListeResto()" type="button">Liste</a>
    </div>
  </div>
</div>
